<launch>

    <!-- Launch the IMU sense node that reads the MPU6050 sensor -->
    <node pkg="dextrobot_controller" type="imu_sense.py" name="imu_sense" respawn="true" output="screen"/>

    <!-- Launch RVIZ for the visualization of the IMU data -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dextrobot_controller)/src/rviz/imu_visualizer.rviz"/>

</launch>