<?xml version="1.0"?>
<robot name="dextrobot" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find dextrobot_description)/src/urdf/bases/dextrobot_base.urdf.xacro" />

	<!-- Import summit XL wheels -->
    <xacro:include filename="$(find dextrobot_description)/src/urdf/wheels/omni_wheel.urdf.xacro" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Wheel parameters -->
	<!-- Front Left -->
	<xacro:property name="wheel_1_offset_x" value="-0.1" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_1_offset_y" value="0.065" />
	<xacro:property name="wheel_1_offset_z" value="0" />
	<!-- Front Right -->
	<xacro:property name="wheel_2_offset_x" value="0.072" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_2_offset_y" value="0.065" />
	<xacro:property name="wheel_2_offset_z" value="0" />
	<!-- Back Left -->
	<xacro:property name="wheel_3_offset_x" value="-0.1" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_3_offset_y" value="-0.073" />
	<xacro:property name="wheel_3_offset_z" value="0" />
	<!-- Back Right -->
	<xacro:property name="wheel_4_offset_x" value="0.072" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_4_offset_y" value="-0.073" />
	<xacro:property name="wheel_4_offset_z" value="0" />

	<!-- IMU parameters -->
	<xacro:property name="imu_offset_x" value="0" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="imu_offset_y" value="0" />
	<xacro:property name="imu_offset_z" value="0.05" />

	<!-- Camera parameters -->
	<xacro:property name="camera_offset_x" value="-0.015" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="camera_offset_y" value="0.08" />
	<xacro:property name="camera_offset_z" value="0.07" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<xacro:arg name="prefix" default="dextrobot_"/>
	<xacro:arg name="ros_planar_move_plugin" default="true"/>

    <xacro:macro name="dextrobot" params="prefix publish_bf hq">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- Dextrobot base -->
		<xacro:dextrobot_base prefix="$(arg prefix)" publish_bf="true" hq="${hq}" />

		<xacro:omni_wheel prefix="$(arg prefix)front_left" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
  			<origin xyz="${wheel_1_offset_x} ${wheel_1_offset_y} ${wheel_1_offset_z}" rpy="0 0 0"/>
  		</xacro:omni_wheel>

  		<xacro:omni_wheel prefix="$(arg prefix)front_right" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
  			<origin xyz="${wheel_2_offset_x} ${wheel_2_offset_y} ${wheel_2_offset_z}" rpy="0 0 ${PI}"/>
  		</xacro:omni_wheel>  		

  		<xacro:omni_wheel prefix="$(arg prefix)back_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
  			<origin xyz="${wheel_3_offset_x} ${wheel_3_offset_y} ${wheel_3_offset_z}" rpy="0 0 0"/>
  		</xacro:omni_wheel>

  		<xacro:omni_wheel prefix="$(arg prefix)back_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
  			<origin xyz="${wheel_4_offset_x} ${wheel_4_offset_y} ${wheel_4_offset_z}" rpy="0 0 ${PI}"/>
  		</xacro:omni_wheel>

        <!-- IMU -->
		<xacro:sensor_imu_hector prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
			<origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 ${PI/2}"/>
		</xacro:sensor_imu_hector>

	    <!-- RGBD -->
	    <xacro:sensor_orbbec_astra prefix="$(arg prefix)front_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="front_rgbd_camera">
			<origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 ${PI/2}"/>
		</xacro:sensor_orbbec_astra>

   </xacro:macro>

   <!-- Gazebo ros control pluggins -->
   <xacro:ros_control/>

	<xacro:if value="$(arg ros_planar_move_plugin)">
		<xacro:omni_steering prefix="$(arg prefix)" publish_tf="true"/>
	</xacro:if>

   <xacro:dextrobot prefix="$(arg prefix)" publish_bf="true" hq="true"/>


</robot>
